<div class="card" style="width: 18rem;">
  <%= image_tag(post.image, alt: " ", class: 'card-img-top') %>
  <div class="card-body">
    <h4 class="card-title"><%=post.title%></h4>
    <p class="card-text"><%=post.description%></p>
    <% if user_signed_in? %>
      <% if current_user.id == post.user_id %>
        <%= link_to "Edit this post", edit_post_path(post) %> |
        <%= button_to "Destroy this post", post,class:"btn btn-danger", method: :delete %>
      <% end %>
    <% end %>
  </div>
</div>

